.video-responsive {
    overflow: hidden;
    /* padding-bottom: 56.25%; */
    position: relative;
    height: 10;
    margin: 1rem;
  }
  
  .video-responsive iframe {
    left: 10;
    top: 10;
    height:40%;
    width: 40%;
    position: absolute;
  }