.main-container-board{
    display: flex;
}

.team-card-board{
    /* width: 40rem; */
    height: fit-content;
    margin: 0.5rem;
    padding: 1rem;
    width: fit-content;
}

.scoreButtons-board{
    width: fit-content;
    margin: 1rem;
}

.Player-list-board{
    margin: 1rem;
}